<%= form_with model: @task do |form| %>
    <div>
    <%= form.label :name %>
    <%= form.text_field :name %>
    </div>
    <div>
    <%= form.label :creator %>
    <%= form.text_field :description %>
    </div>
    <div>
    <%= form.label :creator %>
    <%= form.text_field :status %>
    </div>
    <div>
    <%= form.label :creator %>
    <%= form.text_field :creator %>
    </div>
    <div>
    <%= form.label :performer %>
    <%= form.text_field :performer %>
    </div>
    <div>
    <p>Completed: <%= form.check_box :completed %></p>
    </div>
    <%= @task.errors.full_messages.first if @task.errors.any? %>
    <%= form.submit %>
<% end %>